.container{
    display: grid;
    place-items: center;
    height: 100vh;
}

.box{
    width: 50%;
    margin: auto;
}

.nocBox{
    display: flex;
    background-color: red;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 0.8rem;
}